body {
   font-family: 'Nunito', sans-serif;
   font-family: 'Oswald', sans-serif;
   font-family: 'Source Sans Pro', sans-serif;
}

* {
   box-sizing: border-box;
   margin: 0 auto;
}

.img {
   width: 63px;
   height: 63px;
}

.nav__item-link {
   text-decoration: none;
   font-weight: 400;
   font-size: 14px;
   line-height: 16px;
   letter-spacing: 0.2px;
   color: #ffffff;
}

.nav__item-link:hover {
   border-bottom: 1px solid #ffffff;

}

.head__link {
   margin-top: 45px;
   margin-left: 267px;
   text-decoration: none;
   font-weight: 600;
   font-size: 20px;
   line-height: 16px;
   letter-spacing: 0.1px;
   color: #ffffff;
}

.header {
   display: flex;

}

.menu {
   display: flex;
   column-gap: 32px;
   margin-left: 165px;
   margin-top: 40px;
}

.headline {
   color: #ffffff;
   margin-top: 13px;

}

.main {
   margin-top: 820px;
}

.main__header {
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   margin-top: 203px;

}

.lorem {
   margin-top: 35px;
   line-height: 32px;
   font-size: 24px;
   font-weight: 400;
   color: #FFFFFFB2
}

.info {
   padding-top: 47px;
   background-color: #EEEEEE;
   padding-bottom: 40px;
}

.wrapper {

   background-image: url(../assets/Desktop_Backgrounds_1920x1200_6\ 3.svg);
   background-repeat: no-repeat;
   background-size: cover;
   padding-bottom: 300px;
   position: absolute;
   width: 100%;
}




.section__headline {
   width: 670px;
   height: 120px;
   text-align: center;
   font-weight: 700;
   font-size: 48px;
   line-height: 64px;
   color: #464547;
   margin: 0 auto;
}

.section__p1 {
   width: 426px;
   height: 57px;
   text-align: center;
   height: 57px;
   font-weight: 400;
   font-size: 24px;
   line-height: 32px;
   color: #666666;
   margin: 0 auto;
   margin-top: 40px;
}

.btn {
   width: 115px;
   height: 36px;
   border-radius: 18px;
   background-color: #55c2d8;
   border-style: none;
   font-size: 14px;
   line-height: 26px;
   font-weight: 500;
   color: #FFFFFF;
   padding: 5px 20px 5px 17px;
   margin: 0 auto;
   margin-top: 42px;
   display: block;
}

.bottom__side {
   text-align: center;
   padding-bottom: 100px;
   background-image: url(../assets/bg1.png);
   background-repeat: no-repeat;
   background-size: cover;
}

.bottom_side-btn {
   margin-top: 53px;
   width: 150px;
   height: 150px;
   background-color: #39C2D7;
   border-radius: 90px;
   border-style: none;
}

.trangle {
   width: 150px;
   height: 150px;
   color: #ffffff;
   border-radius: 90px;
   font-size: 60px;
   margin-left: -6px;
   padding-top: 35px;
   padding-left: 10px;

}

.bottom__side-text {
   margin-top: 70px;
   font-weight: 400;
   font-size: 24px;
   line-height: 32px;
   color: #ffffff;
}

.bottom__side-head {
   padding-top: 80px;
   font-weight: 700;
   font-size: 48px;
   line-height: 64px;
   color: #ffffff;
}

.footer-box {
   margin-left: 150px;
   display: flex;
   padding-top: 40px;
   padding-bottom: 38px;

}

.footer__text {
   margin-left: 80px;
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
   color: #FFFFFF66;
}

.footer_link {
   margin-top: 20px;
   text-decoration: none;
   color: #FFFFFF66;

}

.footer__text-p_2 {
   margin-bottom: 27px;
}

.footer {
   background-color: #464547;
}

.footer__head {
   margin-left: 10px;
   font-weight: 400;
   line-height: 16px;
   font-size: 18px;
   color: #ffffff;
   letter-spacing: 20%;
}

.footer__icon {
   margin: 0;
   width: 20px;
   height: 20px;
}

.info__p {
   display: flex;
   margin-left: 20px;
   margin-top: 45px;
   column-gap: 180px;

}

.section__p2,
.section__p3 {
   width: 408px;
   height: 172px;
}

.copyright {
   color: #FFFFFF66;
   display: flex;
   align-self: end;

}

.menu__hide {
   display: none;
}

/* animation */
.bottom_side-btn:hover {
   background-color: #ffffff;
   transform: scale(1.2, 1.2);
   transition: all 2s;
}

.trangle:hover {
   color: #39C2D7;
   transition: color 2s, width 2s, height 2s;
}


@keyframes movee {
   0% {
      transform: scaleX(-1);
      transform: scale(1.5, 1.5);
   }

   50% {
      transform: scale(1.5, 1.5);
      transform: scaleX(1);
   }

}

.img {
   animation-name: movee;
   animation-duration: 2s;
   animation-iteration-count: infinite;
}

.img {
   transform: scaleX(-1);
   transition: all 3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn {
   transform-origin: top left;
   /* 0 0 */
}

.btn:hover {
   transform: rotate(20deg);
   transform-origin: top left;
   transition: all 3s cubic-bezier(0.075, 0.82, 0.165, 1);
}




@keyframes move {


   50% {
      transform: translate(-20px, 20px);
   }

   50% {
      transform: translate(-20px, 20px);
   }
}

.circle {
   animation-name: move;
   animation-duration: 5s;
   animation-iteration-count: infinite;
}

.dots {
   position: absolute;
   margin-left: 106px;
   margin-top: 55px;
}

.container__bg {
   display: flex;
}

@keyframes shinee {
   0% {
      opacity: 0.1;
   }

   100% {
      opacity: 100%;
   }

}

.shine {
   animation-name: shinee;
   animation-duration: 4s;
   animation-iteration-count: infinite;
}